@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Ini untuk font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}

html {
    font-size: 100%;
}

body {
    background-color:  rgb(24, 22, 22);
}

/* Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 8%;
    background-color: rgba(26, 13, 99, 0.79);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

#menu-icon {
    font-size: 3.6rem;
    color: black;
    display: none;
}

.logo {
    width: 9rem;
    height: auto;
}

.navbar a {
    color:rgb(163, 224, 237) ;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 2rem;
    padding: 0rem;
    transition: 1.3s;
}


.navbar a:hover{
    color: rgb(0, 255, 26);
}

 

 .user{
    display:inline-block;
    padding: 1rem 2.8rem;
    border-radius: 1rem;
    background: whitesmoke;
    box-shadow: 2.4px 2.9px 12px 0px rgba(43, 43, 43, 0.945);
    font-size: 1rem;
    font-weight: 500;
    transition: 1s;
}
 .user:hover{
    background: blueviolet;
    color: antiquewhite;
}


/* home */

.awal {
    margin-top: 17rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gambar {
    width: 73rem;

}

.gmbr1, .gmbr2, .gmbr3 {
    border-radius: 1rem;
}


.main {
    width: 73rem;
    margin-top: 200px;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 5px;
    
}

.wrap {
    display: flex;
    animation: slide 10s infinite;
}

.wrap  img{
    width: 100%;
}

@keyframes slide{
    0%{
        transform: translateX(0) ;
    }

    10%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-200%);
    }
    50%{
        transform: translateX(-300%);
    }
    60%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-200%);
    }
    90%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
    
}


/* Jadwal Sholat */
.container {
    margin:1px 9rem;
}


.card {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-header {
    padding: 2rem 2rem;
    border-radius: .5rem .5rem 0 0;
    font-weight: 600;
    font-size: 1rem;
    background-image: url(images/Lip.png);
    color: rgb(224, 227, 228);
}

.title {
     font-size: 2rem;
     margin-bottom: .5rem;
     font-weight: 550;
}

.lokasi {
    justify-content: center;
    display: flex;
    gap: 5rem;
}

.lokasi p {
    font-size: 1.2rem;
    font-weight: 500;
}
#prov {
    font-size: 1.2rem;
}
#city{
    font-size: 1.2rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-primary th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(129, 160, 43);
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 8px;
}

.table td {
    text-align: center;
    padding: 8px;
    background-color: rgb(213, 226, 249);
}

.table-primary td {
    color: rgb(255, 255, 255);
    background-color: rgb(52, 118, 82);
    
}

/* Asmaul Husna  & Al-qur'an*/
#result {
    padding: 2rem 3rem 3rem;
    margin: 3rem 4rem 4rem;
    border-radius: 2rem;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 50fr);
    margin-right: 8px;
}


.kotak {
    width: 18rem;
    height: 12rem;
    margin-bottom: 1rem;
    background-color: blanchedalmond;
    border-radius: 1rem ;
}



.kecil {
    width: 18rem;
    border-radius: 1rem;
    background-color: rgb(52, 151, 156);
    padding-top: .3rem;
    padding-bottom: .4rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    vertical-align: middle;
    transition: 1.5s;
}

.kecil:hover{
    background-color: rgb(41, 39, 39);
    color: rgb(93, 120, 134);
}



.nomer{
    background-color: rgb(47, 57, 67);
    padding-right: .5rem ;
    padding-left: .5rem;
    text-align: center;
    border-radius: 3rem;
    margin-top:.2rem;
    margin-left: .5rem;
    color: rgb(77, 255, 0);
    transition: 1.5s;
}

.nomer:hover{
    background-color: gold;
    color: black;
}

.save {
    width: 0.875rem;
    height: 1.75rem;
}

.nama {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arab {
    margin-top: .4rem;
    margin-right: .5rem;
    text-align: right;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.arti {
    margin-right: .5rem;
    text-align: right;
    font-size: 1rem;
    margin-top: .3rem;
}

.ayat {
    margin-right: .1rem;
    text-align: right;
    font-size: 1rem;
    margin-top: .5rem;
}

.line {
    margin-top: 1rem;
    border-top: 3px solid gray;
}

